{% extends 'main/base/base.html' %}
{% block content %}

    <style>
        .about-section {
            margin-top: 100px; /* Adjust the margin as needed */
            padding: 20px; /* Add padding for a visually pleasing space */
        }

        .large-text {
            font-size: 25px; /* Adjust the font size as needed */
        }
    </style>
    <div class="container">
        <section class="about-section">
            <h1>About Us</h1>
            <p class="large-text">Welcome to Trendy Threads – your one-stop destination for the latest in fashion and style. We
                specialize in offering a wide range of high-quality clothing, shoes, and accessories that cater to
                your unique taste and preferences.</p>

            <p class="large-text">At Trendy Threads, we believe that fashion is a form of self-expression. Our goal is to empower you
                to express your individuality through our carefully curated collection of trendy and fashionable
                products. Whether you're looking for the perfect outfit for a special occasion or just want to
                refresh your wardrobe, we've got you covered.</p>

            <p class="large-text">What sets us apart is our commitment to quality and style. We work with top designers and brands to
                bring you the latest fashion trends that combine comfort, functionality, and aesthetics. Our team of
                fashion enthusiasts is dedicated to ensuring that you have access to the hottest styles that
                resonate with your personal style.</p>

            <p class="large-text">Shopping at Trendy Threads is not just about buying clothes, shoes, or accessories – it's about
                embarking on a style journey. Our user-friendly website makes browsing and shopping a breeze, and
                our customer service team is always ready to assist you with any queries or concerns.</p>

            <p class="large-text">Join us in embracing the world of fashion and making a statement with your style choices. Explore our
                collection today and discover the endless possibilities that Trendy Threads has to offer.</p>

            <p class="large-text">Thank you for choosing Trendy Threads. We look forward to being a part of your fashion story!</p>
        </section>
    </div>
{% endblock %}