{% include 'main/base/navbar.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <title>Home</title>
    <style>

        .navbar-spacing {
            height: 70px; /* Adjust the height as needed */
        }

        .footer-spacing {
            height: 50px; /* Adjust the height as needed */
        }
        .content-container {
    margin-bottom: 50px; /* Adjust the margin as needed */
}
    </style>
</head>
<body>
        <div class="navbar-spacing"></div>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5 ">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'images/j1.jpeg' %}" style="width: 900px; height: 800px" /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Trendy Threads</h1>
                    <p>Hello there! We are here to provide you with the newest and trendiest sneakers, clothes, accessories for the lowest price possible! Our products are selected carefully and are made of the highest quality material. Don't believe us? Go and see  for your self!</p>
                    <a class="btn btn-primary" href="{% url 'catalogue_page' %}">All items</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">If you are reading this you have made the right decision opening this website.</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Shoes</h2>
                            <p class="card-text">Want to check out what new arrivals we have? Click the button and start your shoe shopping now!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'shoes_catalogue' %}">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Clothes</h2>
                            <p class="card-text">If you are reading this you probably have seen your friends wearing the newest clothes. This is the right place for you. Click the button below to learn more!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'clothes_catalogue' %}">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Accessories</h2>
                            <p class="card-text">Looking for a way to complete your outfits? Look no further! If you want to have the best looking outfit one of the main factors is an accessory. So what are you waiting for click the button below to learn more.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'accessories_catalogue' %}">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-spacing"></div>
</body>
</html>
{% include 'main/base/footer.html' %}
