{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'styles/style-navbar.css' %}">
</head>

<nav class="navbar navbar-light">
    <div class="container-fluid">
        {% if profile %}
            <a class="navbar-brand" href="{% url 'profile_details' %}">Profile</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'create_profile' %}">Create profile</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_page' %}">About</a>
                </li>
                {% if profile %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Catalogue
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'clothes_catalogue' %}">Clothes</a></li>
                            <li><a class="dropdown-item" href="{% url 'shoes_catalogue' %}">Shoes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'accessories_catalogue' %}">Accessories</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shopping_cart' %}">Cart</a>
                    </li>
                {% endif %}

            </ul>
            <form class="d-flex" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       id="search-input">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>


</nav>
