body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255%2c255%2c255%2c1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    display: flex; /* Ensure the navbar items are in a horizontal layout */
    align-items: center; /* Center the navbar items vertically */
}

.nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ccc;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-item {
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #333;
}

.form-control {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.btn-outline-success:hover {
    background-color: #000;
    color: #ccc;
}
